doctype html
html.mdc-typography
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width,initial-scale=1')
    title= title
    link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
    link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Roboto:300,400,500')
    link(rel='stylesheet', href='static/style.css')
  body
    main
      block content

    block footScripts
      script(src='static/dist/bundle.js')
